Package: cw16005pp4g08
Version: 1.5
Architecture: i386
Maintainer: Pratik Patel <pp4g08@ecs.soton.ac.uk>
Installed-Size: 48
Section: devel
Priority: optional
Homepage: https://github.com/patelp/cw1_6005_pp4g08/
Description: CLI friendly rss feed reader.
 This program will output the latest rss feeds from a given XML feed provided by the user, if none is provided it will use default: bbc.co.uk's top stories feeds.
