Package: rssread
Version: 1.1-1
Section: base
Priority: optional
Architecture: all
Depends: php5 (>=5)
Maintainer: Pratik Patel (pp4g08@ecs.soton.ac.uk)
Description: An RSS Reader coded in PHP - info6005 2012 coursework
